@{
    ViewData["Title"] = "Home Page";
}
<br/><br/>
<div class="text-center">
    <h1 class="display-4">Bienvenido a QualitySolid!!</h1>
    <p>En esta aplicación podrás gestionar tus estudios y gestionar los cálculos necesarios.</p>
</div>
