@{
    ViewData["Title"] = "Home Page";
}
<br/><br/>
<div class="text-center">
    <h1 class="display-4">Bienveniodo a QualitySolid!!</h1>
    <p>En esta aplicación podras gestionar tus estudios y gestioanr los calculos necesarios.</p>
</div>
