@model Reactive;
@{

    ViewData["Title"] = "Reactivo";

    IDictionary<string, string> labels = new Dictionary<string, string>()
            {
                ["name"] = "Nombre",
                ["saveButton"] = "Guardar",
                ["backButton"] = "Regresar"
            };

}
<form method="post" asp-controller="Reactive" asp-action="Management" autocomplete="off">
    
    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary">@ViewData["Title"]</h2>
            <hr />
        </div>

        <div class="form-group mb-3 row">

            <div class="col-md-2">
                <label asp-for="Name">@labels["name"]</label>
            </div>

            <div class="col-md-10">
                <input asp-for="Name" class="form-control" minlength="5" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>

        <hr />

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i>
                @labels["saveButton"]
            </button>
            <a asp-controller="Reactive" asp-action="Index" class="btn btn-secondary" type="button">
                <i class="fas fa-arrow-left"></i>
                @labels["backButton"]
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}