@model Study;

<form method="post" asp-controller="Study" asp-action="Create" autocomplete="off">
	<input id="user-id" type="hidden" asp-for="UserId" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Crear estudio</h2>
			<hr/>
		</div>
		<div class="mb-3">
			<label asp-for="Name">Nombre</label>
			<input asp-for="Name" class="form-control"/>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="CreatedDateTime">Fecha</label>
			<input asp-for="CreatedDateTime" type="date" />
			<span asp-validation-for="CreatedDateTime" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Crear</button>
		<a asp-controller="Study" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Volver
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}


