@model Concretos.Models.VMLogin;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Concretos.styles.css" asp-append-version="true" />
</head>
<body>
    <form class="small-form" asp-controller="Access" asp-action="Login" method="post">
        <h1 style="color: #1976D2;">Login</h1>
        <label for="email" style="color: #1976D2;">Correo:</label>
        <input type="email" class="form-control" id="email" placeholder="Correo" asp-for="Email" required>
        <br>
        <label for="password" style="color: #1976D2;">Contraseña:</label>
        <input type="password" id="password" class="form-control" placeholder="Contraseña" asp-for="Password" required>
        <br>
        <label>
            <input type="checkbox" asp-for="KeepLoggedIn" style="margin-top: 10px; margin-right: 5px;">
            <span style="color: #1976D2;">Mantener sesión iniciada</span>
        </label>
        <br>

        <div class="d-grid gap-2">
            <button class="btn btn-primary me-md-2" type="submit">Iniciar sesión</button>
        </div>

        @if (ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }

    </form>
</body>
</html>
